fastapi
uvicorn[standard]
python-dotenv
pydantic
databases[postgresql]
asyncpg
sqlalchemy
psycopg2-binary
requests
passlib[bcrypt]
python-jose[cryptography]
firebase-admin
groq
anthropic
sib-api-v3-sdk
python-multipart
numpy
pandas
scikit-learn
Pillow
cloudinary
groq>=0.11.0
google-generativeai>=0.8.0
openai>=1.40.0